extends layout/main.pug


include ../blocks/s-content/_s-content.pug
include ../blocks/s-interactive-map/_s-interactive-map.pug

block variables
	- let  mainPage= null
block title
	- let  title= 'title'
	title= title
block pagecontent
	+s-interactive-map()